<% provide(:title, "UrlChecker Index") %>

<div class="page-header">
	<h1>UrlChecker</h1>
</div>

<div class="form-group">
<label for="InputUrlList">URL List:</label>
<%= form_tag('/url_checker/index', {method: :post}) do %>
  <textarea class="form-control" name="urllist"><%= @urllist %></textarea>
  <input type="submit" />
<% end %>
</div>
<% if !@result.nil? %>
<ul class="list-group">
<%   @result.each do |res| %>
  <li class="list-group-item"><code><a href="<%= res[:url] %>" target="_blank"><%= res[:url] %></a></code></li>
  <ul class="list-group <%= res[:status] == :ok ? "test_ok" : "test_failed" %>">
    <li class="list-group-item">Test=<%= res[:status].to_s.upcase %> : <%= res[:message] %></li>
    <% if res[:final_url] != res[:url] %>
      <li class="list-group-item">Redirected to <code><a href="<%= res[:final_url]%>"><%= res[:final_url] %></a></code></li>
    <% end %>
    <% if res[:queries] %>
    <li class="list-group-item">Query String Parameters:</li>
    <ul class="list-group">
      <% res[:queries].each do |k, v| %><li><code><%= k %>=<%= v %></code></li>
      <% end %>
    </ul>
    <% end # if res[:queries] %>
    <% if res[:show_iframe] %>
    <li class="list-group-item">Iframe view:
      <br/><iframe src="<%= res[:url] %>" width="600" height="200" scrolling="yes"></iframe></li>
    <% end %>
  </ul>

<%  end %>
</ul>
<% end %>

